- poner_title("Nuestros Servicios")
%h1=@h1
%p Servicios
.row-fluid
  .span8
    .well
      / Revisar por que no funca el Accordion con el collapse - Usamos Tabs
      / Revisar tabbable tabs-left - Componentes
      %ul.nav.nav-tabs#myTab
        %li.active
          = link_to "#1", "data-toggle"=>"tab" do
            %h2 Desarrollo
        %li
          = link_to "#2", "data-toggle"=>"tab" do
            %h2 Diseño
        %li
          = link_to "#3", "data-toggle"=>"tab" do
            %h2 Mantenimiento
        %li
          = link_to "#4", "data-toggle"=>"tab" do
            %h2 Seo

      .tab-content
        .tab-pane.active#1
          = render :partial => "layouts/desarrollo"
        .tab-pane#2
          %p.align-justify

        .tab-pane#3
          bla3 bla3 bla3
    .well
      No aceptes una "super" propuesta de desarrollo para algo simple, ni algo simple para un proyecto en crecimiento.
  .span4
    = render partial: "layouts/publi2"
    .well
      %li
        %h3 ¿Quieres un desarrollo rápido?
      %p
        No hay de que preocuparse, lenguajes poderosos tienen herramientas y frameworks igual de buenos. Por poner un ejemplo, Rails es una excelente alternativa para un desarrollo veloz con Ruby.
      %li
        %h3 Pero... Además Quieres ingresar contenido continuamente?
      %p
        No hay problema. Un gestor de contenidos es lo que necesitas, y uno que es excelente es Drupal.
      %p
        Como puedes ver, hay una amplia lista de posibilidades para escoger, y nosotros elegiremos el que mejor se adapte al objetivo de tu sitio.
