<%= form_for(@contact, :html => {:class => "form-horizontal"}) do |f| %>
  <% if @contact.errors.any? %>
    <div id="error_explanation">
      <h3><%= pluralize(@contact.errors.count, "error") %> prohibited this contact from being saved:</h3>

      <ul>
      <% @contact.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>
  <div class="form-inputs">
    <div class="control-group">
      <%= f.label :name, :class => "control-label" %>
      <div class="controls">
        <div class="input-prepend row-fluid">
          <span class="add-on pull-left"><i class="icon-user"></i></span>
          <%= f.text_field :name, :placeholder => "Ingrese su Nombre", :class=>"span9" %>
        </div>
      </div>
    </div>
    <div class="control-group">
      <%= f.label :email, :class => "control-label" %>
      <div class="controls">
        <div class="input-prepend row-fluid">
          <span class="add-on pull-left"><i class="icon-envelope"></i></span>
          <%= f.text_field :email, :placeholder => "Ingrese su email", :class=>"span9" %>       
        </div>
      </div>
    </div>
    <div class="control-group">
      <%= f.label :theme, :class => "control-label" %>
      <div class="controls">
        <% # f.select :theme, options_for_select(@themes), :html_options =>{:class=>"span9"} %>
        <select id="contact_theme" name="contact[theme]" class="span10"> 
          <%= options_for_select(@themes) %>
        </select>
      </div>
    </div>
    <div class="control-group">
      <%= f.label :content, :class => "control-label" %>
      <div class="controls">
        <%= f.text_area :content, :size => "30x8", :placeholder => "Ingrese su mensaje", :class=>"span10" %>
      </div>
    </div>
    <div class="control-group">
      <div class="controls">
        <div class="span10 align-right">
          <%= f.button "Cancelar" %>
          <%= f.submit "Enviar mensaje" %>
        </div>
      </div>
    </div>
  </div>
<% end %>
