<%= form_for(@contact) do |f| %>
  <% if @contact.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@contact.errors.count, "error") %> prohibited this contact from being saved:</h2>

      <ul>
      <% @contact.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div>
    <%= f.label :name %>
    <div class="controls">
      <%= f.text_field :name, :placeholder => "Ingrese su Nombre", :class=>"span12" %>
    </div>
  </div>
  <div class="control-group">
    <%= f.label :email %>
    <div class="controls">
      <%= f.text_field :email, :placeholder => "Ingrese su email", :class=>"span12" %>
    </div>
  </div>
  <div class="control-group">
    <%= f.label :theme %>
    <div class="controls">
      <%= f.select :theme, options_for_select(@themes), :class=>"span12" %>
    </div>
  </div>
  <div class="control-group">
    <%= f.label :content %>
    <div class="controls">
      <%= f.text_area :content, :size => "30x8", :placeholder => "Ingrese su mensaje", :class=>"span12" %>
    </div>
  </div>
  <div class="right">
    <%= f.button "Cancelar" %>
    <%= f.submit "Enviar mensaje" %>
  </div>
<% end %>
