%p#notice =notice

  %b Name:
  = @contact.name

%p
  %b Email:
  = @contact.email

%p
  %b Theme:
  = @contact.theme

%p
  %b Content:
  = @contact.content

%p
  %b Otros:
  = @contact.otros

= link_to 'Edit', edit_contact_path(@contact)
|
= link_to 'Back', contacts_path
