%div#navbar-top.navbar.navbar-fixed-top
  %div.navbar-inner
    %div.container
      %a.btn.btn-navbar{"data-toggle"=>"collapse", "data-target"=>"#nav-social"}
        %span.icon-th-list
          Redes Sociales
      %div#nav-social.nav-collapse.pull-right
        %ul.nav.nav-header
          %li
            .txt_middle Siguenos :
          %li
            = link_to "#{LINK_FACEBOOK}", {:class => "btn_social"} do
              = image_tag "facebook_32.png"
          %li
            = link_to "#{LINK_TWITTER}", {:class => "btn_social"} do
              = image_tag "twitter_32.png"

%div.row-fluid
  %div#logo.span3 logo
  %div#publi1.span9
    .span12
      .span1
      .span11
        #title-publi1.row-fluid.pull-right.align-center publicidad
        #body-publi1.row-fluid.pull-right.align-center
%div.navbar
  %div.navbar-inner
    %div.container
      //.btn-navbar is used as the toggle for collapsed navbar content
      %a.btn.btn-navbar{"data-toggle"=>"collapse", "data-target"=>"#nav-menu"}
        %span.icon-th-list.icon-white 
        %span Opciones de Navegacion
      = link_to home_path, :class=>"brand" do
        JSNetSolution
      %div#nav-menu.nav-collapse
        %ul.nav.nav-header
          %li
            = link_to home_path do
              %i.icon-home.icon-white 
              Home
          %li
            = link_to "/nosotros" do
              %i.icon-briefcase.icon-white
              Nosotros
          %li
            = link_to "/servicios" do
              %i.icon-wrench.icon-white
              Servicios
          //<li> <a href="/servicios"> <i class="icon-globe icon-white"></i> Servicios </a> </li>
          %li
            = link_to new_contact_path do
              %i.icon-envelope.icon-white
              Contacto
