!!! 5
/!DOCTYPE html
%html(lang="en")
  %head
    %title 
      = page_title
    = stylesheet_link_tag "application", :media => "all"
    /[if lt IE 9]
      /<script src="http://html5shim.googlecode.com/svn/trunk/html5.js"></script>
      = javascript_include_tag "http://html5shim.googlecode.com/svn/trunk/html5.js"
    /[endif]
    = javascript_include_tag "application"
    = csrf_meta_tags
    %meta(charset="utf-8")
    %meta{"name"=>"viewport", "content"=>"width=devise-width, initial-scale=1.0"}
    %meta{"name"=>"description", "content"=>"#{page_description}"}
    = google_analytics
  %body
    %header.container
      = render partial: "layouts/header"

    %div.container#container
      .well#well
        = yield

    %footer.container
      = render partial: "layouts/footer"
